body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #d6e982;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #e4dddc;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #c9b68e;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: nome;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fff;
    background-color: #333;
    padding: 0 5px;
    font-family: Gill Sans;
}